
<h2 class="my-cards-title">Мои карты</h2>
<div
    tuiCarouselButtons
    class="my-cards-carousel-main-container"
>
    <button
        icon="tuiIconChevronLeftLarge"
        title="Previous"
        tuiIconButton
        type="button"
        (click)="carousel.prev()"
        class="my-cards-btn my-cards-previous-btn"
    ></button>
    <tui-carousel
        #carousel
        class="my-cards-carousel"
        [itemsCount]="itemsCount"
        [draggable]="true"
    >
        <ng-container *ngFor="let card of cards" class="my-cards-carousel-list">
            <tui-island *tuiItem class="my-cards-carousel-item-container">
                <app-card [card]="card" (cardSelected)="deselectAllExcept($event)" class="my-cards-carousel-item"></app-card>
            </tui-island>
        </ng-container>
    </tui-carousel>
    <button
        icon="tuiIconChevronRightLarge"
        title="Next"
        tuiIconButton
        type="button"
        (click)="carousel.next()"
        class="my-cards-btn my-cards-next-btn"
    ></button>
</div>
