<section class="card">
    <header class="card__header">
        <ul class="header__list">
            <li class="list__item item__title">Баланс</li>
            <li class="list__item price">{{ card.balance }}</li>
        </ul>
        <img alt="Чип" height="35" ngSrc="../../../../../assets/img/Chip_Card.svg" width="35">
    </header>
    <div class="card__middle">
        <ul class="middle__list right">
            <li class="list__item item__title">Владелец</li>
            <li class="list__item">{{ card.name }}</li>
        </ul>
        <ul class="middle__list left">
            <li class="list__item item__title">Дата создания</li>
            <li class="list__item">{{ card.dateCreated }}</li>
        </ul>
    </div>
    <footer class="card__footer">
        <p class="footer__title">Платежная система</p>
        <img [ngSrc]="'/assets/img/{{card.provider}}.png'" alt="Card Icon" class="footer__icon"
             height="30" ngSrc="assets/img/Mir.png" width="50">
    </footer>
</section>
