<div class="main-content-dashboard">
    <div class="main-content-dashboard-second">
        <app-sidebar *ngIf="!Capacitor.isNativePlatform() && window.innerWidth > 1001"></app-sidebar>
        <div class="main-content-dashboard-full">
            <app-header></app-header>
            <tui-scrollbar class="box">
                <div class="content-dashboard">
                    <section class="first-main-section">
                        <app-my-cards></app-my-cards>

                        <app-last-operations></app-last-operations>
                    </section>

                    <section class="second-main-section">

                    </section>

                    <section class="third-main-section">
                        <app-dynamics></app-dynamics>
                    </section>
                </div>
            </tui-scrollbar>
            <app-tabbar *ngIf="Capacitor.isNativePlatform() || window.innerWidth <= 1000"></app-tabbar>
        </div>

    </div>
</div>
