<div class="navigation">
    <ul class="menu-list">
        <li class="menu-list-item active">
            <a routerLink="#">ГЛАВНАЯ</a>
        </li>
        <li class="menu-list-item">
            <a routerLink="#">КОМУ ПОДОЙДЕТ?</a>
        </li>
        <li class="menu-list-item">
            <a routerLink="#">ВОЗМОЖНОСТИ</a>
        </li>
    </ul>
    <form class="navigation-container">
        <button class="avtorithation-btn">ВОЙТИ</button>
        <button class="registration-btn">ЗАРЕГЕСТРИРОВАТЬСЯ</button>
    </form>
</div>
