<!--в папке components/header делать header -->
<app-header></app-header>

<main class="main">
  <section class="first-section">
    <!--  здесь первая секция (Арина) -->
  </section>
  <section class="second-section">
    <!--  здесь вторая секция (Саняшка) -->
  </section>

  <section class="third-section">
    <header>
      <h1 class="third-section-title">
        Широкие возможности –
        <br/>реальная польза
      </h1>
    </header>

    <ul class="third-section-cards">
      <li class="third-section-card">
        <img class="third-section-card-img" ngSrc="./assets/img/recommendations.svg" height="65" width="63.84" alt="Рекомендации">
        <div class="third-section-card-content">
          <h3 class="third-section-card-title">Рекомендации</h3>
          <p class="third-section-card-desc">
            Подскажут эффективное решение в текущей финансовой ситуации с помощью уникальной системы тахометров финансового состояния и советов.
          </p>
        </div>
      </li>

      <li class="third-section-card">
        <img class="third-section-card-img" ngSrc="./assets/img/budget.svg" height="65" width="63.84" alt="Рекомендации">
        <div class="third-section-card-content">
          <h3 class="third-section-card-title">Бюджет</h3>
          <p class="third-section-card-desc">
            Позволяет планировать доходы и расходы, долги и кредиты, чтобы хватало денег в будущем с помощью прогнозов и мастера планирования.
          </p>
        </div>
      </li>

      <li class="third-section-card">
        <img class="third-section-card-img" ngSrc="./assets/img/calendar.svg" height="65" width="63.84" alt="Рекомендации">
        <div class="third-section-card-content">
          <h3 class="third-section-card-title">Календарь</h3>
          <p class="third-section-card-desc">
            Обеспечивает своевременность внесения повторяющихся платежей. Помогает избежать штрафов и комиссий за просрочки по платежам.
          </p>
        </div>
      </li>

      <li class="third-section-card">
        <img class="third-section-card-img" ngSrc="./assets/img/purposes.svg" height="65" width="63.84" alt="Рекомендации">
        <div class="third-section-card-content">
          <h3 class="third-section-card-title">Планирование целей</h3>
          <p class="third-section-card-desc">
            Мотивирует в накоплении денег на желаемую покупку, помогает достичь цели быстрее.
          </p>
        </div>
      </li>

      <li class="third-section-card">
        <img class="third-section-card-img" ngSrc="./assets/img/charts.svg" height="65" width="63.84" alt="Рекомендации">
        <div class="third-section-card-content">
          <h3 class="third-section-card-title">Графики</h3>
          <p class="third-section-card-desc">
            Наглядно представляют сложную информацию в доступной форме, облегчают принятие важных финансовых решений
          </p>
        </div>
      </li>
    </ul>
  </section>
</main>
