.main {
  background-color: #FFFFFF;
}

// первая секция приветственной страницы

.main-container{
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: 565px 1fr;
  grid-template-areas: 
  "title statistic"
  "descreption-list statistic"
  "button statistic";
  margin-left: 10%;
  margin-bottom: 130px;
  position: relative;
}

.main-title{
  grid-area: title;
  font-family: Montserrat;
  font-size: 80px;
  font-weight: 700;
  line-height: 98px;
  letter-spacing: 0%;
  text-align: left; 
  margin-bottom: 70px;
}

.main-title span{
  color: rgb(106, 207, 200);
  padding-left: 25px;
}

.descreption-list{
  list-style: none;
  padding: 0;
  grid-area: descreption-list;
  margin-bottom: 50px;
}

.descreption-list-item{
  margin-bottom: 20px;
  color: rgb(85, 85, 85);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;  
}

.start-btn{
  grid-area: button;
  color: rgb(30, 145, 110);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  box-sizing: border-box;
  border: 3px solid rgb(106, 207, 200);
  border-radius: 10px;   
  padding: 10px;
  background: transparent;
}

.statistic-photo{
  grid-area: statistic;
  align-self: center;
  justify-self: center;
}

.frame{
  position: absolute;
  top: 93px;
  left: 275px;
}


// третья секция приветственной страницы

.third-section h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #555555;
  font-size: 62px;
  font-weight: 700;
  line-height: 76px;
  text-align: center;
  margin-bottom: 70px;
}

.third-section-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  list-style: none;
  gap: 75px;
  padding: 70px 0 200px;
}

.third-section-card {
  width: 376px;
  padding: 20px 45px 52px;
  background: rgb(234, 248, 244);
  border-radius: 20px;
}

.third-section-card-img {
  display: block;
  margin: -50px auto 21px;
}

.third-section-card-title {
  margin: 0 0 23px;
  font-size: 23px;
  line-height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #555555;
}

.third-section-card-desc {
  margin: 0 0 15px;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
