.my-cards-title {
    font-weight: 600;
    font-size: 22px;
    color: #343c6a;

    margin-left: 64px;
    margin-bottom: 20px;
}

.my-cards-carousel-main-container {
    display: flex;
    align-items: center;
}

.my-cards-carousel-item-container {
    margin: 0;
    padding: 0;
    width: fit-content;
}

.my-cards-carousel {
    background: transparent;

    width: 780px;
}

