<div class="main-content-dashboard">
    <div class="main-content-dashboard-second">
        <app-sidebar *ngIf="!Capacitor.isNativePlatform() && window.innerWidth > 1001"></app-sidebar>
        <div class="main-content-dashboard-full">
            <app-header></app-header>
            <div class="content-dashboard">
                <div class="content-dashboard-header">
                    <app-navigation></app-navigation>
                </div>
                <div [@routeAnimations]="getRouteAnimationData()">
                    <router-outlet></router-outlet>
                </div>
            </div>
            <app-tabbar *ngIf="Capacitor.isNativePlatform() || window.innerWidth <= 1000"></app-tabbar>
        </div>
    </div>
</div>

