<ul class="content-dashboard__result-list">
    <li class="content-dashboard__result-list__item">
        <img alt="иконка транзакции" height="70" ngSrc="assets/img/profile-logo.svg" width="70">
        <div class="result-list__item__container">
            <h2 class="result-list__item__container__title">Мой Баланс</h2>
            <p class="result-list__item__container__balance" >₽</p>
        </div>
    </li>
    <li class="content-dashboard__result-list__item">
        <img alt="иконка транзакции" height="70" ngSrc="assets/img/profile-logo.svg" width="70">
        <div class="result-list__item__container">
            <h2 class="result-list__item__container__title">Доход</h2>
            <p class="result-list__item__container__balance">₽</p>
        </div>
    </li>
    <li class="content-dashboard__result-list__item">
        <img alt="иконка транзакции" height="70" ngSrc="assets/img/profile-logo.svg" width="70">
        <div class="result-list__item__container">
            <h2 class="result-list__item__container__title">Расход</h2>
            <p class="result-list__item__container__balance">₽</p>
        </div>
    </li>
    <li class="content-dashboard__result-list__item">
        <img alt="иконка транзакции" height="70" ngSrc="assets/img/profile-logo.svg" width="70">
        <div class="result-list__item__container">
            <h2 class="result-list__item__container__title">Экономия</h2>
            <p class="result-list__item__container__balance">₽</p>
        </div>
    </li>
</ul>